<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>

    <title>Login</title>
</head>

<body>

<h1>Custom Login form</h1>

<form action="#" th:action="@{/login}" method="post">
    <!-- I bound the field of command object(form-backing bean) -student like this with th:field dialect-->
    <input type="text" th:name="username"/>
    <input type="text" th:name="password"/>
    <!-- -->
    <input type="submit" value="Save"/>
</form>

</body>
</html>