<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>

    <title>Login</title>
</head>

<body>

    <h1>Custom Login form</h1>

    <form action="#" th:action="@{/show}" th:object="${student}" method="post">
        <!-- I bound the field of command object(form-backing bean) -student like this with th:field dialect-->
        <input type="text" th:field="*{id}"/>
        <input type="text" th:field="*{name}"/>
        <input type="text" th:field="*{lastname}"/>
        <!-- -->
        <input type="submit" value="Save"/>
    </form>

</body>
</html>